<style>
	@import url('https://fonts.googleapis.com/css?family=Merienda|Reenie+Beanie|Saira+Semi+Condensed');

.container_new {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
}
.bottom {
    position: absolute;
	top: 75%;
	
	
	width: 100%;
   /* transform: translate(-50%, -50%);*/
}

.blocker
{
	display: block;
    width: 100%;
    border: none;
    background-color: #fff;
	
	cursor: pointer;
    text-align: center;
}

</style> 

<ion-modal-view class="modal-login is-modal">
	

	<ion-content class="has-footer" style="">
		<ion-slide-box  class="home-slider" on-slide-changed="slideHasChanged($index)">
			
			

			<ion-slide ng-if="!enableSliderFromServer" ng-repeat="i in [1]" style="text-align:center; color:white;">
				
				
				<h3 style="color:#323232;font-family: 'Saira Semi Condensed', sans-serif;">¡GRACIAS POR ELEGIR!</h3> 
				<br><br>
				<div id="logo">
						<img style="width:110%;" src="img/topgears/Anaket_negativo.png" alt="">
				</div>
				
				<p>
					<h4 style="color:#323232;">www.anaket.delivery</h4>
				</p>
				<p>
					</p>
				<br>	
				<div class="container_new">
					<img src="img/topgears/cuadro-grande-negro.png" alt="" style="width:100%;">
					<div class="centered">
						La plataforma elegida por cientos de personas para realizar sus compras.
					</div>
				</div>
				<p>
				</p><br><br>
			</ion-slide>


			<ion-slide ng-if="!enableSliderFromServer" ng-repeat="i in [1]" style="text-align:center; color:white;">
					<h3 style="color:#323232;">¡GENIALl!...PERO<br>COMÓ COMIENZO?</h3> 
					
					<div class="container_new">
						<img src="img/topgears/usuariopre.png" alt="" style="width:100%;">
						<div class="bottom">
							<h4 style="color:#323232;">¡SON SOLÓ 4 PASOS!</h4> 
						</div>
					</div>
					<p style="color:#fff; text-align:left; line-height: 30px;">

									<span style="color:#323232">1. </span>Crea una Cuenta! <br>
									<span style="color:#323232">2. </span>Selecciona los Articulos que desees. <br>
									<span style="color:#323232">3. </span>Ingresa tus datos de envio y pago. <br>
									<span style="color:#323232">4. </span>Consulta el Estatus de tu pedido por las diferentes vias.<br>
									
					</p>
					<p>
					</p><br><br>

			</ion-slide>
			

			<ion-slide ng-if="!enableSliderFromServer" ng-repeat="i in [1]" style="text-align:center; color:white;">

				<h3 style="color:#323232;">CONTÁCTANOS:</h3>
				<div style="color:#323232; font-size: 17px;text-align: left;">
					<div>
							<img style="vertical-align:middle;width: 32px;height: px;" src="img/topgears/Link.png">
							<span style="text-align: left;">www.anaket.delivery</span>
					</div>
				
					
					
					<div>
						<img style="vertical-align:middle;width: 32px;height: 32px;" src="img/topgears/mail-gris.png">
						<span style="text-align: left">info@anaketdelivery.com</span>
					</div>

					<div>
						<img style="vertical-align:middle;width: 32px;height: 32px;" src="img/topgears/whatsapp.png">
						<span style="text-align: left">+ 1.809.123.4567</span>
					</div>
				</div>		
					<br><br>
					<div class="blocker">
		
						<h3 style="color:white; font-family: 'Saira Semi Condensed', sans-serif;">Redes Sociales</h3>
						
						<div>
							<img style="vertical-align:middle" src="https://cdn4.iconfinder.com/data/icons/social-media-2110/64/Facebook-01-64.png">
							<img style="vertical-align:middle" src="https://cdn4.iconfinder.com/data/icons/social-media-2110/64/Twitter-01-64.png">
							<img style="vertical-align:middle" src="https://cdn4.iconfinder.com/data/icons/social-media-2110/64/Instagram-01-64.png">
							<img style="vertical-align:middle" src="https://cdn4.iconfinder.com/data/icons/social-media-2110/64/Google_Plus-01-64.png">
						</div>
					</div>
					<br><br>
					<h1 style="color:white; font-family: 'Saira Semi Condensed', sans-serif;">¿Estas listo?</h1>	  

			</ion-slide>


			<!--<ion-slide ng-if="!enableSliderFromServer" ng-repeat="i in [1]">
				<div class="slider-img">
					<img actual-src="img/slider/slider-1.jpg" ng-src="img/placeholder.png" alt="">
				</div>
			</ion-slide>-->
			
			<!--LOGIN BEGIN-->

			<ion-slide ng-if="!enableSliderFromServer" ng-repeat="i in [1]">
					
				
							<!--<div style="padding-bottom: 10px" class="logo">
								<img src="img/topgears/logo.png" alt="">
							</div>
							<h4 style="color:white; font-family: 'Saira Semi Condensed', sans-serif;text-align:center; ">Accede a la App</h3>-->
								<div class="modal-login-box">
									<form name="loginForm" ng-submit="doLogin(loginForm)" novalidate="">
										<div class="form-action" style="color:#fff;">
											<label class="item item-input login">
												<input class="login" type="text" name="user_login" ng-model="loginData.user_login" required placeholder="{{$root.appLanguage.USERNAME_TEXT}}" style="color:#fff;">
											</label>
											<div class="invalid-required" ng-show="loginForm.user_login.$error.required && loginForm.$submitted">* {{$root.appLanguage.USERNAME_TEXT}} {{$root.appLanguage.is_required_TEXT}}</div>
											<label class="item item-input login">
												<input class="login" type="password" name="user_pass" ng-model="loginData.user_pass" placeholder="{{$root.appLanguage.PASSWORD_TEXT}}" required>
											</label>
											<div class="invalid-required" ng-show="loginForm.user_pass.$error.required && loginForm.$submitted">* {{$root.appLanguage.PASSWORD_TEXT}} {{$root.appLanguage.is_required_TEXT}}</div>
											<div style="text-align: center;" class="forgot-password" ng-click="openModalForgotPassword()">{{$root.appLanguage.FORGOT_PASSSWORD_TEXT}}</div>
											<div class="button-action">
												<button style="letter-spacing: 2px;" class="button button-block button-positive btn-login" type="submit">{{$root.appLanguage.LOGIN_TEXT}}</button>
											</div>
											<div class="or">
												<span>o</span>
											</div>
										</div>
									</form>
									<div class="social-action clearfix">
													<div class="social-fb" ng-click="doLoginWithFacebook()">
											<a href="#">
												<span class="text">{{$root.appLanguage.SIGN_IN}}{{$root.appLanguage.FACEBOOK}}</span>
											</a>
										</div>
													<div class="social-gg" ng-click="doLoginWithGoogle()">
											<a href="#">
												<span class="text">{{$root.appLanguage.SIGN_IN}}{{$root.appLanguage.GOOGLE}}</span> 
											</a>
										</div>
									</div>
									<div class="create-user-action buttons">
										<div class="buttons" style="font-size: 12px;font-weight: 100;color: #000">
											{{$root.appLanguage.DONT_HAVE_ACCOUNT_TEXT}}?  
											<a style="color: #fff; font-weight: bold;" class="button-close button-positive button-register" ng-click="openModalRegister()">
												{{$root.appLanguage.CREATE_ACCOUNT_TEXT}}
											</a>
										</div>
									</div>
									
								</div>
							

				
			</ion-slide>


			<!--LOGIN END-->


			

		


</ion-modal-view>