<ion-view title="{{pageTitle}}">
	<ion-nav-buttons side="left">
		<!-- Toggle left side menu -->
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-footer">
		<div class="category-list">
			<div class="category-item" ng-repeat="category in categoryData" ng-click="openCategory({{category.id}})">
				<div class="image">
					<img actual-src="{{category.image.src}}" ng-src="img/placeholder.png">	
				</div>
				<div class="title" ng-bind-html="category.name"></div>
			</div>
		</div>
	</ion-content>
</ion-view>