<style>
.img-fija
	{
		width: 100%; 
		margin: -10px;
		margin-right: -20px; 
		position: absolute;
		/*margin-bottom: 20px;*/
	}
</style>

<ion-view title="{{$root.appLanguage.PROMOTIONS_TEXT}}">
	<ion-nav-buttons side="left">
		<!-- Toggle left side menu -->
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-footer">
		<div class="promotion-img" >
			<img class="img-fija" actual-src="http://anaket.delivery/app/tiendas/titulo_tiendas.png" ng-src="img/placeholder.png" alt="">
		</div>
		<div class="promotion-img" >
			<img style="margin-top: 140px" actual-src="http://anaket.delivery/app/tiendas/logo6.png" ng-src="img/placeholder.png" alt="">
		</div>
		<div class="promotion-img">
			<img actual-src="http://anaket.delivery/app/tiendas/logo5.jpeg" ng-src="img/placeholder.png" alt="">
		</div>
		<div class="promotion-img">
			<img actual-src="http://anaket.delivery/app/tiendas/logo7.jpeg" ng-src="img/placeholder.png" alt="">
		</div>
		
		<div class="promotion-img">
			<img actual-src="http://anaket.delivery/app/tiendas/logo4.png" ng-src="img/placeholder.png" alt="">
		</div>
	</ion-content>
</ion-view>